{% set truenas_groups = dict() %}
{% set existing_groups = dict() %}
{% set create_groups = [] %}
{% set update_groups = [] %}
{% set delete_groups = [] %}
{% set built_in_groups = [] %}
{% for group in truenas_group_found.json %}
{%  set _ = existing_groups.update({group.group: {'id': group.id, 'gid': group.gid }}) %}
{% endfor  %}
{% for group in truenas_group %}
{%  if group.name not in existing_groups and group.state == 'present' %}
{%      set _ = create_groups.append(group.config) %}
{%  elif group.name in existing_groups and group.state == 'present' %}
{%      if existing_groups[group.name].gid >= 1000 %}
{%          set group_config = {
    'id': existing_groups[group.name].id,
    'config': group.config
}%}
{%          set _ = update_groups.append(group_config) %}
{%      elif existing_groups[group.name].gid < 1000 %}
{%          set _ = built_in_groups.append(group.config)%}
{%      endif %}
{%  elif group.name in existing_groups and group.state == 'absent' %}
{%      if existing_groups[group.name].gid >= 1000 %}
{%          set _ = delete_groups.append(existing_groups[group.name].id) %}
{%      elif existing_groups[group.name].gid < 1000 %}
{%          set _ = built_in_groups.append(group.config) %}
{%      endif %}
{%  endif %}
{% endfor %}
{% set _ = truenas_groups.update(
    {
    'create_groups': create_groups,
    'update_groups': update_groups,
    'delete_groups': delete_groups,
    'built_in_groups': built_in_groups
    }) 
%}
{{ truenas_groups }}
