{% set truenas_users = dict() %}
{% set existing_users = dict() %}
{% set built_in_users = () %}
{% set create_users = () %}
{% set update_users = () %}
{% set built_in_users = () %}
{{ truenas_user_found }}